@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    font-family: 'montserrat';
    margin: 0px;
    padding: 0px;
}

$primary: #343a40;
$white: #fff;

html{
    scroll-behavior: smooth;
}
#logo{
    height: 80px;
    width: 100;
}
header{
    height: 85vh;
    background-image: url(../images/wallpaper.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    nav{
        background-color: rgba($color: #000, $alpha: 0.1);
    }
}
#mainBlock {
    width: 100%;
        .heading-wrap{
            position: relative;
            :before{
                background-color: $primary;
                content: '';
                display:block;
                height: 1px;
                margin-top: -1px;
                position: absolute;
                top: 50%;
                left:0;
                width: 100%;    
                z-index: -1;
            }
            h1{
                padding: 0em 1em;
                font-size: 2em;
            }
        }
        .row{
            padding-top: 10px;
            
        }
        .card {                
            .btn-dark{
                visibility: hidden;
                width: 100%;
            }
            .addto:hover{
                .btn-dark{
                    visibility: visible;
                    width: 100%;
                }
            }
            
        }
}

#offer{
    i{
        font-size: 4em;
        text-align: center;
        padding:0.3em 0em;
    }
}

#contact {
    .container{
        .regfail{
            display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid red;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .regfail:focus{
            color: #495057;
            background-color: #fff;
            border-color: red;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(255,0,0,.25);
        }
        .form-control:focus{
            color: #495057;
            background-color: #fff;
            border-color: $primary;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(3,3,3,.25);
        }
    }
}

#footerBar {

    #myBtn {
      
        position: fixed; 
        bottom: 20px; 
        right: 30px; 
        z-index: 99; 
        border: 2px solid #111; 
        outline: none; 
        background-color: rgba($color: $white, $alpha: 0.0); 
        color: #111; 
        cursor: pointer;
        padding: 5px 15px; 
        border-radius: 10px; 
        font-size: 1.8em; 
      }
      
      #myBtn:hover {
        background-color: rgba($color: $white, $alpha: 0.3); 
      }
    
    margin-top: auto;
    .container{
        padding: 20px 0px;
        border-bottom: 1px solid white;
        h2{
            font-size: 1.5em;
            color: $white;
            text-decoration: underline;
        }
        h3{
            font-size: 1.2em;
        }
        a{
            color: $white;
            i{
                font-size: 2.5em;
                margin: 2px 10px;
            }
        }
        a:hover{
            text-decoration: none;
            color: rgba(255,255,255,.75);
        }
        
        
    }
    p{
        margin-bottom: 0px;
        padding: 5px 0px;
    }
}

#path {
    .container{
        p{
            font-size: 1em;
            display: inline-block;
        }
    }
}

#produkti {
    

    h1{
        font-size: 1.1em;
    }
    ul{
        a{
            color: $primary;
            font-size: 1em;
        }
    }
    #produktiMenu{
        #gridListView{
            i{
                font-size: 1em;
            }
        }
        .kartica{
            h2,h3,p{
                height:2em;
                font-size: 1.2em;
            }
        }
        .karticaFigure{
            h2,h3,p{
                height: 1.6em;
                font-size: 1.2em;
            }
        }         
    }
}

.cartLayout{
        min-height: 50vh;
        .tableDataEdit{
            img{
                height: 5em;
                width: 6em;
            }
            td{
                vertical-align: baseline;
                border-top: none;
                .form-control{
                    width: 3em;
                }
            }
            
        }
    
}
#author{
    min-height: 60vh;
    .container{
        border: 2px solid $primary;
    }
}
